# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\maric\OneDrive - MBO Utrecht\School shit 2.0\PRO\Semester2\Periode4\Tekst_adventure_Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
